{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "kentcdodds/possible-errors",
    "kentcdodds/best-practices",
    "kentcdodds/es6",
    "kentcdodds/jest"
  ],
  "rules": {}
}
